<div class="menu">
    <div class="menu-active">
        <a href="/">
            <i class="fa-solid fa-cash-register"></i>
            <span>คิดเงิน</span>
        </a>
    </div>
    <div class="menu-item">
        <a href="/">
            <i class="fa-solid fa-cash-register"></i>
            <span>สินค้า</span>
        </a>
    </div>
    <div class="menu-item">
        <a href="/">
            <i class="fa-solid fa-chart-pie-simple"></i>
            <span>สรุป</span>
        </a>
    </div>
</div>