<div class="navbar">
    <!-- Navbar-Header -->
    <div class="navbar-header">
        <span>หมูอนามัยโพธิ์ทะเลบ่อทอง</span>
    </div>
    <!-- Navbar-SearchBox -->
    <div class="navbar-searchbox">
        <input class="input-searchbox" type="text" name="input_search" id="input_search" placeholder="ค้นหาสินค้า..">
        <button class="search-btn" type="button" id="search-btn">
            <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
        </button>
    </div>
    <!-- Navbar-Menu -->
    <div class="navbar-menu">
        <!-- Refresh -->
        <button class="reload-btn" type="button" id="reload-btn">
            <i class="fa-solid fa-rotate-reverse"></i>
        </button>
        <!-- FullScreen -->
        <button class="fullscreen-btn" type="button" id="fullscreen-btn">
            <i class="fa-solid fa-maximize"></i>
        </button>
    </div>
</div>