/* Import Font*/
@font-face {
    font-family: 'Pridi-Bold';
    src: url('/fonts/Pridi-Bold.ttf');
}
@font-face {
    font-family: 'Pridi-ExtraLight';
    src: url('/fonts/Pridi-ExtraLight.ttf');
}
@font-face {
    font-family: 'Pridi-Light';
    src: url('/fonts/Pridi-Light.ttf');
}
@font-face {
    font-family: 'Pridi-Medium';
    src: url('/fonts/Pridi-Medium.ttf');
}
@font-face {
    font-family: 'Pridi-Regular';
    src: url('/fonts/Pridi-Regular.ttf');
}
@font-face {
    font-family: 'Pridi-SemiBold';
    src: url('/fonts/Pridi-SemiBold.ttf');
}

/* VarSetting */
:root {
    --bg-color: #e2e1e1e0;
    --bg-navbar-color: white;
    --bg-menu-color: white;
}

/* Body */
body {
    margin: 0;
    max-width: 1920px;
    max-height: 1080px;
    background-color: var(--bg-color);
    font-family: 'Pridi-Regular';
}

/* Navbar */
.navbar {
    display: flex;
    width: 100%;
    height: 70px;
    border-bottom: 2px solid;
    border-color: var(--bg-color);
    background-color: var(--bg-navbar-color);
}
.navbar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 563px;
    height: 100%;
}
.navbar-header > span {
    font-family: 'Pridi-SemiBold';
    font-size: xx-large;
    width: 90%;
    height: 70%;
}
.navbar-searchbox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 713px;
    height: 100%;
}
.input-searchbox {
    width: 96%;
    height: 50%;
    margin: 0;
    padding-left: 10px;
    background-color: var(--bg-color);
    border: 0px;
    border-radius: 5px;
}
.search-btn {
    position: absolute;
    width: 35px;
    height: 35px;
    font-size: 20px;
    left: 92%;
    top: 20;
    margin: 0;
    padding: 0;
    border: 0px;
    border-color: none;
    background: transparent;
}
.navbar-menu {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 643px;
    height: 100%;
}
.close-btn {
    color: white;
    background: red;
}
.navbar-menu-btn {
    width: 35px;
    height: 35px;
    margin-right: 15px;
    border: transparent;
    border-radius: 5px;
}
.navbar-menu-btn:hover {
    cursor: pointer;
    opacity: 0.5;
}

/* Container */
.container {
    display: flex;
    flex-direction: row;
    max-width: 1916px;
    max-height: 1006px;
    border-left: 2px solid;
    border-right: 2px solid;
    border-bottom: 2px solid;
    border-color: var(--bg-menu-color);
    border-radius: 5px;
}


/* Menu */
.menu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 150px;
    height: 1006px;
    border-right: 2px solid;
    border-color: var(--bg-menu-color);
    border-radius: 5px;
    background-color: var(--bg-menu-color);
}
.menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    height: 85px;
}
.menu-item > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 94%;
    height: 85%;
    border: 2px solid transparent;
    border-radius: 5px;
    font-family: 'Pridi-Light';
    font-size: 20px;
    color: black;
    text-decoration: none;
}
.menu-item > a:hover{
    color: orange;
    border: 2px solid orange;
}
.menu-active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    height: 85px;
}
.menu-active > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 94%;
    height: 85%;
    border: 2px solid orange;
    border-radius: 5px;
    font-family: 'Pridi-Light';
    font-size: 20px;
    color: orange;
    text-decoration: none;
}
.menu-last {
    margin-top: auto;
}

/* ProductOrderShow */
.product-ordershow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    width: 1370px;
    height: 1006px;
}
.iframe-product {
    width: 100%;
    height: 100%;
}
.product-card-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.product-card {
    width: 150px;
    height: 150px;
    margin: 9px;
    padding: 0;
    background-color: white;
}
.product-card-img {
    width: 100%;
    height: 90px;
    margin: 0;
    padding: 0;
}
.product-card-img > img {
    width: 100%;
    height: 100%;
}
.product-card-name {
    font-weight: bolder;
    text-align: center;
}
.product-card-price {
    font-size: 15px;
    text-align: center;
}

/* ProductOrder */
.product-order {
    width: 400px;
    height: 1006px;
    border-left: 2px solid;
    border-color: var(--bg-menu-color);
    border-radius: 5px;
    background-color: var(--bg-menu-color);
}


/* 1280*800 */
@media (max-width: 1280px) {
    body {
        max-height: 800px;
    }

    /* Navbar 1280*800 */
    .navbar {
        height: 70px;
    }
    /* Menu 1280*800 */
    .menu {
        height: 726px;
    }

    /* ProductOrder 1280*800 */
    .product-ordershow {
        width: 1200px;
        height: 726px;
    }
    .product-card-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .product-card {
        width: 180px;
        height: 180px;
        margin: 5px 5px 5px 5px;
        padding: 0;
        background-color: white;
    }
    .product-card-img {
        width: 100%;
        height: 120px;
        margin: 0;
        padding: 0;
    }
    .product-card-name {
        font-size: 11px;
        font-weight: bolder;
        text-align: center;
    }
    .product-card-price {
        font-size: 10px;
        text-align: center;
    }

    /* ProductOrder 1280*800 */
    .product-order {
        width: 570px;
        height: 726px;
    }
}