<!DOCTYPE html>
<html lang="th">
<head>
    <%- include('../partials/header') %>
    <title>ระบบจัดการออร์เดอร์</title>
</head>
<body>
    <!-- Navbar -->
    <%- include('../partials/navbar') %>
    <!-- Container -->
    <div class="container">
        <!-- Menu -->
        <%- include('../partials/menu') %>
        <!-- ProductShow -->
        <div class="product-ordershow">

        </div>
        <!-- ProductOrder- -->
        <div class="product-order">

        </div>
    </div>

    <!-- เมื่อกดปุ่มจะ FullScreen -->
    <script>
        document.getElementById("fullscreen-btn").addEventListener("click", function () {
            let elem = document.documentElement; // เลือกให้ทั้งหน้าเว็บ Fullscreen
        
            if (!document.fullscreenElement) {
                if (elem.requestFullscreen) {
                    elem.requestFullscreen();
                } else if (elem.mozRequestFullScreen) { // สำหรับ Firefox
                    elem.mozRequestFullScreen();
                } else if (elem.webkitRequestFullscreen) { // สำหรับ Chrome, Safari และ Opera
                    elem.webkitRequestFullscreen();
                } else if (elem.msRequestFullscreen) { // สำหรับ IE/Edge
                    elem.msRequestFullscreen();
                }
            } else {
                if (document.exitFullscreen) {
                    document.exitFullscreen();
                } else if (document.mozCancelFullScreen) {
                    document.mozCancelFullScreen();
                } else if (document.webkitExitFullscreen) {
                    document.webkitExitFullscreen();
                } else if (document.msExitFullscreen) {
                    document.msExitFullscreen();
                }
            }
        });
    </script>
</body>
</html>