<!DOCTYPE html>
<html lang="th">
<head>
    <%- include('../partials/header') %>
    <title>ระบบจัดการออร์เดอร์</title>
</head>
<body>
    <!-- Navbar -->
    <%- include('../partials/navbar') %>
    <!-- Container -->
    <div class="container">
        <!-- Menu -->
        <%- include('../partials/menu') %>
        <!-- ProductShow -->
        <div class="product-ordershow">
            <iframe class="iframe-product" src="/product_order.ejs" frameborder="0"></iframe>
        </div>
        <!-- ProductOrder- -->
        <div class="product-order">
            
        </div>
    </div>

    <!-- Import JS -->
    <script src="/js/web.js"></script>
</body>
</html>