<!DOCTYPE html>
<html lang="th">
<head>
    <%- include('../partials/header') %>
    <title>ระบบจัดการออร์เดอร์</title>
</head>
<body>
    <!-- Container -->
    <div class="container-login">
        
    </div>

    <!-- Import JS -->
    <script src="/js/web.js"></script>
</body>
</html>