<head>
    <%- include('../partials/header') %>
</head>
<div class="product-card-container">
    <% for(let i = 0; i < 100; i++) { %>
        <div class="product-card">
            <div class="product-card-img"><img src="/imgs/product/pork-tenderloin.png"></div>
            <div class="product-card-name">น้ำมันถั่วเหลืองตราองุ่น</div>
            <div class="product-card-price">20 บาท</div>
        </div>
    <% } %>
</div>